{{#each ideas as |idea|}}

  <div class="idea-selectable" data-id="{{idea.id}}">
    <p>{{idea.title}}
      <ul>
        <li>{{idea.price}}</li>
        <li>{{idea.where}}</li>
        <li>{{idea.notes}}</li>
      </ul>
    </p>
  </div>

{{/each}}
