<p class="idea-label">Ideas</p>

{{#each ideas as |idea|}}

  <div class="idea-selectable" data-id="{{idea.id}}">
    <p class="idea-style">{{idea.title}}
      <ul>
        <li>Price: {{idea.price}}</li>
        <li>Source: {{idea.where}}</li>
        <li>Notes: {{idea.notes}}</li>
      </ul>
    </p>
    <hr>
  </div>

{{/each}}
